pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.hightlight .hll { background-color: #ffffcc }
.hightlight { background: #f0f3f3; }
.hightlight .c { color: #0099FF; font-style: italic } /* Comment */
.hightlight .err { color: #AA0000; background-color: #FFAAAA } /* Error */
.hightlight .k { color: #006699; font-weight: bold } /* Keyword */
.hightlight .o { color: #555555 } /* Operator */
.hightlight .ch { color: #0099FF; font-style: italic } /* Comment.Hashbang */
.hightlight .cm { color: #0099FF; font-style: italic } /* Comment.Multiline */
.hightlight .cp { color: #009999 } /* Comment.Preproc */
.hightlight .cpf { color: #0099FF; font-style: italic } /* Comment.PreprocFile */
.hightlight .c1 { color: #0099FF; font-style: italic } /* Comment.Single */
.hightlight .cs { color: #0099FF; font-weight: bold; font-style: italic } /* Comment.Special */
.hightlight .gd { background-color: #FFCCCC; border: 1px solid #CC0000 } /* Generic.Deleted */
.hightlight .ge { font-style: italic } /* Generic.Emph */
.hightlight .gr { color: #FF0000 } /* Generic.Error */
.hightlight .gh { color: #003300; font-weight: bold } /* Generic.Heading */
.hightlight .gi { background-color: #CCFFCC; border: 1px solid #00CC00 } /* Generic.Inserted */
.hightlight .go { color: #AAAAAA } /* Generic.Output */
.hightlight .gp { color: #000099; font-weight: bold } /* Generic.Prompt */
.hightlight .gs { font-weight: bold } /* Generic.Strong */
.hightlight .gu { color: #003300; font-weight: bold } /* Generic.Subheading */
.hightlight .gt { color: #99CC66 } /* Generic.Traceback */
.hightlight .kc { color: #006699; font-weight: bold } /* Keyword.Constant */
.hightlight .kd { color: #006699; font-weight: bold } /* Keyword.Declaration */
.hightlight .kn { color: #006699; font-weight: bold } /* Keyword.Namespace */
.hightlight .kp { color: #006699 } /* Keyword.Pseudo */
.hightlight .kr { color: #006699; font-weight: bold } /* Keyword.Reserved */
.hightlight .kt { color: #007788; font-weight: bold } /* Keyword.Type */
.hightlight .m { color: #FF6600 } /* Literal.Number */
.hightlight .s { color: #CC3300 } /* Literal.String */
.hightlight .na { color: #330099 } /* Name.Attribute */
.hightlight .nb { color: #336666 } /* Name.Builtin */
.hightlight .nc { color: #00AA88; font-weight: bold } /* Name.Class */
.hightlight .no { color: #336600 } /* Name.Constant */
.hightlight .nd { color: #9999FF } /* Name.Decorator */
.hightlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.hightlight .ne { color: #CC0000; font-weight: bold } /* Name.Exception */
.hightlight .nf { color: #CC00FF } /* Name.Function */
.hightlight .nl { color: #9999FF } /* Name.Label */
.hightlight .nn { color: #00CCFF; font-weight: bold } /* Name.Namespace */
.hightlight .nt { color: #330099; font-weight: bold } /* Name.Tag */
.hightlight .nv { color: #003333 } /* Name.Variable */
.hightlight .ow { color: #000000; font-weight: bold } /* Operator.Word */
.hightlight .w { color: #bbbbbb } /* Text.Whitespace */
.hightlight .mb { color: #FF6600 } /* Literal.Number.Bin */
.hightlight .mf { color: #FF6600 } /* Literal.Number.Float */
.hightlight .mh { color: #FF6600 } /* Literal.Number.Hex */
.hightlight .mi { color: #FF6600 } /* Literal.Number.Integer */
.hightlight .mo { color: #FF6600 } /* Literal.Number.Oct */
.hightlight .sa { color: #CC3300 } /* Literal.String.Affix */
.hightlight .sb { color: #CC3300 } /* Literal.String.Backtick */
.hightlight .sc { color: #CC3300 } /* Literal.String.Char */
.hightlight .dl { color: #CC3300 } /* Literal.String.Delimiter */
.hightlight .sd { color: #CC3300; font-style: italic } /* Literal.String.Doc */
.hightlight .s2 { color: #CC3300 } /* Literal.String.Double */
.hightlight .se { color: #CC3300; font-weight: bold } /* Literal.String.Escape */
.hightlight .sh { color: #CC3300 } /* Literal.String.Heredoc */
.hightlight .si { color: #AA0000 } /* Literal.String.Interpol */
.hightlight .sx { color: #CC3300 } /* Literal.String.Other */
.hightlight .sr { color: #33AAAA } /* Literal.String.Regex */
.hightlight .s1 { color: #CC3300 } /* Literal.String.Single */
.hightlight .ss { color: #FFCC33 } /* Literal.String.Symbol */
.hightlight .bp { color: #336666 } /* Name.Builtin.Pseudo */
.hightlight .fm { color: #CC00FF } /* Name.Function.Magic */
.hightlight .vc { color: #003333 } /* Name.Variable.Class */
.hightlight .vg { color: #003333 } /* Name.Variable.Global */
.hightlight .vi { color: #003333 } /* Name.Variable.Instance */
.hightlight .vm { color: #003333 } /* Name.Variable.Magic */
.hightlight .il { color: #FF6600 } /* Literal.Number.Integer.Long */
